body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    color: #11999E;
    margin: 0px;
    margin-top: 0px;
    font-family: 'Castoro', serif;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 0.5%;
}

h2 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;  
    margin: 0%;
}

a {
    color: #11999E;
    margin: 10px 20px; 
    
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top_container {
    background-color: #87ceeb;
    padding-top: 50px;
    position: relative;
}

.sub-heading {
    font-weight: bold;
    font-size: 30px;
}

.profile_pic {
    width: 20%;
    height: 25%;
    padding: 2%;
}

.literature_pic {
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.pizza_pic {
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.react {
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.express {
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-1 {
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}




.bottom-container {
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}


.top_cloud {
    position: absolute;
    top: 10px;
    right: 300px;
}

.bottom_cloud {
    position: absolute;
    left: 250px;
}

.skill-row {
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;
    line-height: 2;
}



hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #DCDCDC;
    border-width: 5px;
    margin: 50px auto 50px auto;
    
    
    width: 3%;
}

.InTouch {
    font-size: 30px;
    margin-bottom: 25px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

.copyright {
    color: honeydew;
}
    
.btn:hover {
    border: solid #33C1ED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

